
header,menu{
    max-width: 1400px;
    margin: 0 auto;
}

#navbar_name{
    background-color: #5D5FEF;
    color: #fff;


}
header, menu{
    background-color: #F6F6F7;
}
menu{
    margin: 0 auto;

}
